<!-- ======= Header ======= -->


<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="/">ADEN</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="#">Page 2</a></li>
        <li><a class="nav-link scrollto" href="#">Page 3</a></li>
        <li><a class="nav-link scrollto" href="#">Page 4</a></li>
        <li><a class="nav-link scrollto" href="/signup">Sign up</a></li>
        <li><a class="nav-link scrollto" href="/login">Login</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a>

  </div>
</header><!-- End Header -->
