<!DOCTYPE html>
<html>
    <head>
        <title> appointments records - ADEN</title>
    </head>
    <body>
        your next appointment:
        <%= the_appointments %>
        
    </body>
</html>